# Ignore everything in this directory and all subdirectories
**/*

# Allow this .gitignore file to be versioned
!**/.gitignore

# Allow essential Zen config files in the root of this folder
!**/zen-keyboard-shortcuts.json
!**/zen-themes.json
!**/extension-preferences.json
!**/extension-settings.json
!**/extensions.json
!**/containers.json

