* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
  background: transparent;
}

*:focus {
  outline: none;
  box-shadow: none;
}

window,
listview,
entry,
label {
  all: unset;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.25);
  animation: slideIn 0.1s ease-in-out both;

  border: solid 1px rgba(100, 100, 100, 0.1);
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  animation: fadeIn 0.2s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  background-color: transparent;
  animation: fadeIn 0.2s ease-in-out both;
  color: white;
  font-size: 20px;
}
#input::focus {
  outline: none;
  border: none;
}
#input image {
  border: none;
  color: white;
  padding-right: 5px;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  animation: fadeIn 0.2s ease-in-out both;
}

#entry {
  padding: 15px;
  color: white;
  border-radius: 12px;
}

#entry arrow {
  border: none;
}

/* Selected Entry */
#entry:selected {
  /* background: rgba(255,255,255,0.4); */
  border: solid 1px white;
}

#entry:selected #text {
}

#entry:drop(active) {
}
